{% extends "main_template.html" %}
{% block content %}

    <div class='row'>
        <div class='col-md-12'>
            <h3>Import data to an adgroup</h3>
        </div>
    </div>
    {% if data.message %}
    <div class='row'>
        <div class='col-md-12'>
            <h4 style='text-align: center; color: blue;'>{{data.message}}</h4>
        </div>
    </div>
    {% endif %}
    <div class='row'>
        <div class='col-md-12' id='text_import_div'>
            <textarea id='importtext' class='form-control'></textarea>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 form-inline importcontrols'>
            <select class='form-control' id='which_adgroup'>
                <option selected>Select an adgroup to import into</option>
                {% for x in data.adgroups %}
                <option value='{{x}}'{% if x == data.adgroup %} selected{% endif %}>{{x}}</option>
                {% endfor %}
            </select>
            <input type='button' class='btn btn-primary' onclick='import_data()' value='Import Data'>
        </div>
    </div>
    <form name='data_transfer' method='POST' action='/import'>
        <input type='hidden' name='domain_data'>
    </form>

{% endblock %}