{% extends "main_template.html" %}
{% block content %}

	<table class='table table-hover buckettable'>
		<tr>
			<th>Bucket Name</th><th>Total Sites</th><th>MaxP <a href='javascript:alert("Explanation goes here")'>(?)</a></th>
		</tr>
		{% for bucket in data.buckets %}
		<tr id='row_{{bucket.name}}'>
			<td>
				<a href="javascript:expandcat('row_{{bucket.name}}')">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{bucket.name}}</a>
			</td>
			<td>{{bucket.total_sites}}</td>
			<td>?</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}